## Deliverable 3. Create a Travel Itinerary Map.

In [39]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [40]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City_ID.1,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Hotel Name
0,0,0,Avarua,CK,2020-09-13 20:35:30,-21.21,-159.78,75.20,73,97,9.17,overcast clouds,Paradise Inn
1,2,2,Le Vauclin,MQ,2020-09-13 20:35:31,14.55,-60.84,81.00,88,32,3.36,mist,Hôtel Cap Macabou
2,4,4,Rikitea,PF,2020-09-13 20:35:31,-23.12,-134.97,73.58,84,0,13.62,clear sky,Pension Maro'i
3,9,9,Ribeira Grande,PT,2020-09-13 20:35:32,38.52,-28.70,73.40,83,40,14.99,scattered clouds,Quinta da Meia Eira
4,14,14,Sao Joao Del Rei,BR,2020-09-13 20:35:32,-21.14,-44.26,78.80,27,0,8.05,clear sky,Solara Hotel

In [43]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} & {Max Temp} °F</dd> 
</dl>
"""

In [44]:
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

In [45]:
# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [46]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
weeahter_cond = vacation_df["Current Description"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

#vacation_start = vacation_df.loc["Sisophon"]
#vacation_end = vacation_df.loc["Sisophon"]
#vacation_stop1 = vacation_df.loc["Lumphat"]
#vacation_stop2 = vacation_df.loc["Rach Gia"] 
#vacation_stop3 = vacation_df.loc["Kampot"]

In [48]:
start_df = vacation_df.loc[vacation_df["City"]=="Sisophon"]
start_df

,City_ID,City_ID.1,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Hotel Name
219,482,482,Sisophon,KH,2020-09-13 20:36:53,13.59,102.97,77.67,87,98,4.43,overcast clouds,Pyramid Hotel

In [49]:
end_df = vacation_df.loc[vacation_df["City"]=="Sisophon"]
end_df

,City_ID,City_ID.1,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Hotel Name
219,482,482,Sisophon,KH,2020-09-13 20:36:53,13.59,102.97,77.67,87,98,4.43,overcast clouds,Pyramid Hotel

In [50]:
stop1_df = vacation_df.loc[vacation_df["City"]=="Lumphat"]
stop1_df

,City_ID,City_ID.1,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Hotel Name
76,181,181,Lumphat,KH,2020-09-13 20:36:01,13.49,106.98,73.38,97,87,2.19,overcast clouds,Lumphat Homestay

In [51]:
stop2_df = vacation_df.loc[vacation_df["City"]=="Rach Gia"]
stop2_df

,City_ID,City_ID.1,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Hotel Name
166,375,375,Rach Gia,VN,2020-09-13 20:36:36,10.02,105.08,77.0,100,40,1.12,scattered clouds,Nhà Hàng Hòa Giang

In [52]:
stop3_df = vacation_df.loc[vacation_df["City"]=="Kampot"]
stop3_df

,City_ID,City_ID.1,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Hotel Name
125,298,298,Kampot,KH,2020-09-13 20:36:21,10.62,104.18,78.8,88,40,5.57,scattered clouds,Champa Lodge

In [53]:
cities = ["Sisophon", "Lumphat", "Rach Gia", "Kampot"]
cities_trip_df = vacation_df.loc[(vacation_df["City"].isin(cities))]
cities_trip_df

,City_ID,City_ID.1,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Hotel Name
76,181,181,Lumphat,KH,2020-09-13 20:36:01,13.49,106.98,73.38,97,87,2.19,overcast clouds,Lumphat Homestay
125,298,298,Kampot,KH,2020-09-13 20:36:21,10.62,104.18,78.80,88,40,5.57,scattered clouds,Champa Lodge
166,375,375,Rach Gia,VN,2020-09-13 20:36:36,10.02,105.08,77.00,100,40,1.12,scattered clouds,Nhà Hàng Hòa Giang
219,482,482,Sisophon,KH,2020-09-13 20:36:53,13.59,102.97,77.67,87,98,4.43,overcast clouds,Pyramid Hotel

In [54]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = "Sisophon"
end = "Sisophon"
stop1 = "Lumphat"
stop2 = "Rach Gia"
stop3 = "Kampot"

In [55]:
for index, row in cities_trip_df.iterrows():
    # Get the latitude and longitude.
    cit = row["City"]
    lat = row["Lat"]
    lng = row["Lng"]

  
    print(f"{cit} = ({lat},{lng})")

Lumphat = (13.49,106.98)
Kampot = (10.62,104.18)
Rach Gia = (10.02,105.08)
Sisophon = (13.59,102.97)

In [80]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

start = (13.59, 102.97)
end = (13.59, 102.97)
stop1 = (13.49, 106.98)
stop2 = (10.02, 105.08)
stop3 = (13.49, 106.98)


fig= gmaps.figure()

cities_trip = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING',stroke_weight=3.0,stroke_color="blue")
fig.add_layer(cities_trip)

fig

Figure(layout=FigureLayout(height='420px'))

In [57]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = [start_df, end_df, stop1_df, stop2_df, stop3_df]
result = pd.concat(itinerary_df)
itinerary_df

[     City_ID  City_ID.1      City Country                 Date    Lat     Lng  \
 219      482        482  Sisophon      KH  2020-09-13 20:36:53  13.59  102.97

      Max Temp  Humidity  Cloudiness  Wind Speed Current Description  \
 219     77.67        87          98        4.43     overcast clouds

         Hotel Name
 219  Pyramid Hotel  ,
      City_ID  City_ID.1      City Country                 Date    Lat     Lng  \
 219      482        482  Sisophon      KH  2020-09-13 20:36:53  13.59  102.97

      Max Temp  Humidity  Cloudiness  Wind Speed Current Description  \
 219     77.67        87          98        4.43     overcast clouds

         Hotel Name
 219  Pyramid Hotel  ,
     City_ID  City_ID.1     City Country                 Date    Lat     Lng  \
 76      181        181  Lumphat      KH  2020-09-13 20:36:01  13.49  106.98

     Max Temp  Humidity  Cloudiness  Wind Speed Current Description  \
 76     73.38        97          87        2.19     overcast clouds

           Hotel Name
 76  Lumphat Homestay  ,
      City_ID  City_ID.1      City Country                 Date    Lat     Lng  \
 166      375        375  Rach Gia      VN  2020-09-13 20:36:36  10.02  105.08

      Max Temp  Humidity  Cloudiness  Wind Speed Current Description  \
 166      77.0       100          40        1.12    scattered clouds

              Hotel Name
 166  Nhà Hàng Hòa Giang  ,
      City_ID  City_ID.1    City Country                 Date    Lat     Lng  \
 125      298        298  Kampot      KH  2020-09-13 20:36:21  10.62  104.18

      Max Temp  Humidity  Cloudiness  Wind Speed Current Description  \
 125      78.8        88          40        5.57    scattered clouds

        Hotel Name
 125  Champa Lodge  ]

In [76]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} & {Max Temp} °F</dd> 
</dl>
"""

In [77]:
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in cities_trip_df.iterrows()]

In [78]:
# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = cities_trip_df[["Lat", "Lng"]]

In [79]:
# 11a. Add a marker layer for each city to the map.
locations = cities_trip_df[["Lat", "Lng"]]
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))